<div id="<%= dom_id frnd %>">
  <p>
    <strong>First name:</strong>
    <%= frnd.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= frnd.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= frnd.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= frnd.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= frnd.twitter %>
  </p>

</div>
